# Ignore everything in the  directory
/*

# But do not ignore the neofetch, kitty, and nvim directories
!/neofetch/
!/hypr/
!/alacritty/
!/ghostty/
!/tmux/
!/scripts/
!/kitty/
!/nvim/
!/i3/
!/.github/
# I dont want to ignore this but it a file
!/config.sh
!/config-mac.sh
!/.zsh_profile
!/.zshrc
!/ublock

# In the nvim directory, ignore everything except the specified directories and files
!/nvim/plugin/
!/nvim/custom/
!/nvim/spell/
!/nvim/ftplugin/
!/nvim/syntax/
!/nvim/coc-settings.json
!/nvim/.luarc.json
!/nvim/after/

# Ignore .DS_Store everywhere
**/.DS_Store
**/themes
