# Ignore everything in the  directory
/*

# But do not ignore the neofetch, kitty, and nvim directories
!/neofetch/
!/kitty/
!/nvim/
!/.github/

# In the nvim directory, ignore everything except the specified directories and files
/nvim/*

# Ignore .DS_Store everywhere
**/.DS_Store
